@import 'normalize.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-family: 'Roboto', sans-serif;
    --primary: #fbb403;
    --white: #fff;
    --text-color: #000000d6;

    --default-layout-header-hight: 65px;
    --default-layout-width: 1280px;
    --default-layout-horizontal-spacer: 24px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}

//custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-size: 1.5rem;
        line-height: 2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 4px 10px;
    }
}
